* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
}

/* прелоадер */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: rgb(32, 32, 32);
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 1.5s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 2s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

/* конец стилей для прелоадера */

#menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(32, 32, 32, 1);
    z-index: 2;
}

@keyframes AnimationOfTitle {
    from {
        color: #ED237F;
    }
    to {
        color: #eeacca;
    }
}

#menu h1 {
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    animation: AnimationOfTitle 2.5s infinite;
}

#menu .title_shadow {
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

#menu li {
    margin-bottom: 15px;
}

#menu li button {
    background: #ED237F;
    border: 5px dotted #202020;
    border-radius: 10px;
    font-size: 1.5vw;
    width: 15vw;
    height: 10vh;
    transition: all .5s ease-out;
}

#menu li button:hover {
    cursor: pointer;
    background: #202020;
    border: 5px dotted #ED237F;
    color: white;
}

#backgr {
    background: url(../images/green.jpg);
    width: 100%;
    height: 100vh;
}

#CONTAINER {
    width: 800px;
    height: 640px;
    position: relative;
    margin: 7vw auto 0;
}

canvas {
    position: absolute;
    background: green;
}

/* кнопки для мини-меню и бокового меню*/

#side-menu {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 5%;
}

.mini-button, .side-button {
    cursor: pointer;
}

#sON, #sONside {
    opacity: 1;
    transition: all ease-out .5s;
}

#sOFF, #sOFFside {
    opacity: 0;
    transition: all ease-out .5s;
}

#sONside, #sOFFside {
    position: absolute;
    width: 7vw;
    height: 7vw;
    left: 0;
    top: 0;
}

/* ПРАВИЛА ИГРЫ */

#rules, #records, #nameGamer, #additional-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0 5vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #eeacca;
    z-index: 2;
    color: rgba(32, 32, 32, 1);
}

#rules {
    display: flex;
    opacity: 0;
    top: -105vh;
    transition: all ease-in-out 1.5s;
}

#rules h2, #records h2, #additional-menu h2 {
    font-size: 4vw;
}

#rules h3 {
    margin-top: 10px;
    font-size: 3vw;
}

#rules p, #additional-menu p {
    font-size: 2vw;
    margin-bottom: 4vh;
}

#rules img {
    display: inline-block;
    width: 4vw;
}

.close {
    position: absolute;
    top: 2vh;
    right: 2vw;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* ТАБЛИЦА РЕКОРДОВ */

#records {
    display: flex;
    opacity: 0;
    top: -105vh;
    transition: all ease-in-out 1.5s;
}

#records-content {
    width: 60vw;
    margin: 5vh auto;
    font-size: 3vh;
}

/* ИМЯ ИГРОКА */

#nameGamer {
    display: flex;
    opacity: 0;
    top: -105vh;
    transition: all ease-in-out 1s;
}

#nameGamer input, #recordsButton2 {
    margin: 5vh auto 0;
    width: 40vw;
    background: #202020;
    border: 5px dotted #eeacca;
    border-radius: 10px;
    font-size: 1.5vw;
    height: 10vh;
    color: white;
    transition: all .5s ease-out;
    cursor: pointer;
}

#hiddenNameGamer {
    display: block;
}

#thanks {
    display: none;
    padding: 0 5vw;
}

#thanks p {
    font-size: 3vh;
}

/* ДОПОЛНИТЕЛЬНОЕ МЕНЮ ДЛЯ ПАУЗЫ */

#additional-menu {
    display: flex;
    opacity: 0;
    left: -105vw;
    transition: all ease-in-out 0.5s;
    position: absolute;
    width: 100vw;
    height: 70vh;
    padding: 0 5vw;
    transform: translateY(15vh);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #eeacca;
    z-index: 2;
    color: rgba(32, 32, 32, 1);
}

#additional-menu button {
    margin: 5vh auto;
    background: #202020;
    border: 5px dotted #eeacca;
    border-radius: 10px;
    font-size: 1.5vw;
    width: 15vw;
    height: 10vh;
    color: white;
    transition: all .5s ease-out;
}

#additional-menu button:hover, #nameGamer input:hover, #recordsButton2:hover {
    cursor: pointer;
    background: #eeacca;
    border: 5px dotted #202020;
    color: #202020;
}

@media (max-width: 800px) {
    #backgr {
        height: 100%;
    }
    #menu h1 {
        font-size: 6vw;
    }
    #menu li button {
        font-size: 3vw;
        width: 35vw;
    }
    #rules p, #additional-menu p {
        margin-top: 3vw;
    }
    #rules p {
        font-size: 3vw;
    }
    #records-content {
        width: 90vw;
        font-size: 3vh;
    }
    #additional-menu button {
        margin: 0 auto;
        font-size: 3vw;
        width: 35vw;
    }
    #additional-menu h2 {
        font-size: 6vw;
    }
    #additional-menu p {
        font-size: 4vw;
    }
    #nameGamer input, #recordsButton2 {
        font-size: 4vw;
    }
}

@media (max-width: 500px) {
    #records-content {
        font-size: 2vh;
    }
}