* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
}

/* прелоадер */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: rgb(32, 32, 32);
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 2s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

/* конец стилей для прелоадера */

/* предупреждение о развороте экрана */

#turnScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(32, 32, 32, 1);
    z-index: 3;
}

#turnScreen p {
    font-size: 24px;
    text-align: center;
    color: #eeacca;
}

.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(32, 32, 32, .95);
    z-index: 2;
}

@keyframes AnimationOfTitle {
    from {
        color: #ED237F;
    }
    to {
        color: #eeacca;
    }
}

.menu h1 {
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    animation: AnimationOfTitle 2.5s infinite;
}

.menu .title_shadow {
    color: #e0dfdc;
    /* background-color: #202020; */
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.menu li {
    margin-bottom: 15px;
}

.menu li button {
    background: #ED237F;
    border: 5px dotted #202020;
    border-radius: 10px;
    font-size: 1.5vw;
    width: 15vw;
    height: 10vh;
    transition: all .5s ease-out;
}

.menu li button:hover {
    cursor: pointer;
    background: #202020;
    border: 5px dotted #ED237F;
    color: white;
}

.backgr {
    background: url(../images/green.jpg);
    width: 100vw;
    height: 100vh;
}

#CONTAINER {
    width: 100%;
}

canvas {
    position: absolute;
    transform: translateX(10%) translateY(5%);
    background: green;
}

/* кнопки для мини-меню */

.mini-button, .side-button {
    cursor: pointer;
}

#sON, #sONside {
    opacity: 1;
}

#sOFF, #sOFFside {
    opacity: 0;
}

#sON:hover, #sONside:hover {
    opacity: 0;
}

#sOFF:hover, #sOFFside:hover {
    opacity: 1;
}

#sONside, #sOFFside {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
}